.chessboard-page .apply-btn,
.chessboard-page .add-btn {
  background-color: #b2a4d0;
  border-color: #b2a4d0;
  color: #fff;
}

.chessboard-page .apply-btn:hover,
.chessboard-page .add-btn:hover {
  background-color: #b2a4d0;
  border-color: #b2a4d0;
  color: #fff;
}

.chessboard-page .ant-btn:hover:not(.apply-btn):not(.add-btn) {
  color: #b2a4d0;
  border-color: #b2a4d0;
}
