body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background-color: #EEF0F1;
  color: #000;
}

body[data-theme='light'] {
  --menu-bg: #EEF0F1;
}

body[data-theme='dark'] {
  --menu-bg: #555555;
}

.ant-menu-dark,
.ant-menu-dark .ant-menu-sub,
.ant-menu-dark .ant-menu-submenu-popup {
  background: var(--menu-bg) !important;
}
