html,
body {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

#root {
  height: 100%;
  min-height: 100vh;
  width: 100%;
}

/* Ensure Ant Design tables always expand to the available width */
.ant-table {
  width: 100%;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background-color: #FCFCFC;
  color: #000;
}

body[data-theme='light'] {
  --menu-bg: #EEF0F1;
  --menu-color: #000000;
}

body[data-theme='dark'] {
  --menu-bg: #555555;
  --menu-color: #ffffff;
}

.ant-menu-dark,
.ant-menu-dark .ant-menu-sub,
.ant-menu-dark .ant-menu-submenu-popup {
  background: var(--menu-bg) !important;
}

.ant-layout-sider-trigger {
  background: var(--menu-bg) !important;
  color: var(--menu-color) !important;
}
.row-green {
  background-color: #d9f7be !important;
  color: #000000 !important;
}

.row-green * {
  color: #000000 !important;
}

.row-yellow {
  background-color: #fff1b8 !important;
  color: #000000 !important;
}

.row-yellow * {
  color: #000000 !important;
}

.row-blue {
  background-color: #e6f7ff !important;
  color: #000000 !important;
}

.row-blue * {
  color: #000000 !important;
}

.row-red {
  background-color: #ffa39e !important;
  color: #000000 !important;
}

.row-red * {
  color: #000000 !important;
}

.row-purple {
  background-color: #DDA0DD !important;
  color: #000000 !important;
}

.row-purple * {
  color: #000000 !important;
}
