body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background-color: #fff;
  color: #000;
}

body[data-theme='light'] {
  --menu-bg: #0000ff;
}

body[data-theme='dark'] {
  --menu-bg: #555555;
}

.ant-menu-dark,
.ant-menu-dark .ant-menu-sub,
.ant-menu-dark .ant-menu-submenu-popup {
  background: var(--menu-bg) !important;
}
